// Malina font
@font-face {
  font-family: 'ALS Malina';
  src: url('../fonts/malina.woff2') format('woff2'),
  url('../fonts/malina.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}